Checks: >
  readability-*,
  -clang-analyzer-security.insecureAPI.*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!dice/).*'
FormatStyle: none
