name: Build and test Coldtrace
on: 
  push:
  pull_request:
  repository_dispatch:
    types: [ test-dice ]
env:
  REGISTRY: ghcr.io

jobs:
  test-linux:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
        cfg:
        - cc: gcc
          cxx: g++
        - cc: clang
          cxx: clang++
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Checkout Dice
        if: ${{ github.event_name == 'repository_dispatch' }}
        uses: actions/checkout@v4
        with:
          repository: open-s4c/dice
          ref: ${{ github.event.client_payload.commit }}
          path: deps/dice
          submodules: recursive
      - name: Configure
        run: cmake -Bbuild
             -DCMAKE_INSTALL_PREFIX=/tmp/target
             -DCMAKE_C_COMPILER=${{ matrix.cfg.cc }}
             -DCMAKE_CXX_COMPILER=${{ matrix.cfg.cxx }}
      - name: Build
        run: cmake --build build
      - name: Test
        run: ctest --test-dir build --output-on-failure
      - name: Install
        run: cmake --install build
  check-format:
    runs-on: ubuntu-24.04
    steps:
        - uses: actions/checkout@v4
          with:
            submodules: recursive
        - name: Check clang-format version
          run: clang-format --version
        - name: Configure
          run: cmake -Bbuild
        - name: Build
          run: cmake --build build
        - name: Run format
          run: cmake --build build --target format
        - name: Diff Check
          run: cmake --build build --target diff-check
  report:
    if: always()
    runs-on: ubuntu-latest
    needs: test-linux
    steps:
      - name: Checkout Dice
        uses: actions/checkout@v4
        with:
          repository: open-s4c/dice
          ref: ${{ github.event.client_payload.commit }}
          path: deps/dice
          submodules: recursive
      - name: Publish results to Dice
        if: ${{ github.event_name == 'repository_dispatch' }}
        uses: ./deps/dice
        with:
          status: ${{ needs.test-linux.result }}
          title: 'coldtrace tests for Dice commit ${{ github.event.client_payload.commit }}'
          summary: 'See workflow run [here](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})'
          commit: ${{ github.event.client_payload.commit }}
          check_id: ${{ github.event.client_payload.check_id }}
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
